<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
</head>
<body>
    <h1>Your Cart</h1>
    
    <p>Your Balance: ${{ user_balance }}</p>

    <h2>Items in Cart:</h2>
    <ul>
        {% for item in cart_items  %}
            <li>
                {{ item[1] }}: {{ item[2] }}
                <form action="{{ url_for('decrase_quantity_of_item_in_cart', item_id=item[0]) }}" method="post" style="display: inline;">
                    <button type="submit"><i class="fa-solid fa-minus"></i></button>
                </form>
            </li>
        {% endfor %}
    </ul>

    <h2>Discount Code:</h2>
    <form action="{{ url_for('cart') }}" method="POST">
        <label for="discount_code">Enter Discount Code:</label>
        <input type="text" id="discount_code" name="discount_code" required>
        <button type="submit">Apply Discount</button>
    </form>

    {% if discount_message %}
        <form action="{{ url_for('remove_thankyou_discount') }}" method="POST" style="display: inline;">
            {{ discount_message }}
            <button type="submit">  <i class="fa-solid fa-minus"></i> </button>
        </form>
    {% endif %}
    <p>Total: ${{ total_price }}</p>

    <form action="{{ url_for('checkout') }}" method="GET">
        <p>Total: ${{ total }}</p>
        <button type="submit">Checkout</button>
    </form>

    <p><a href="/shop">Back to Shop</a></p>
</body>
</html>