<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Shopping Website</title>
</head>
<body>
    <h1>Welcome to our Shopping Website!</h1>
    <p>Our digital market is aimed to beat all Lozodo, Seehop and all the marketplace out there! Can you imagine how a "passwordless", and even "usernameless" marketplace could be such a greatttt invention??</p>
    <p>For this one and only 17/5 sale, we will discount allll the things for you to buy!</p>
    <p>Enjoyyy!!!!</p>

    <a href="/shop"><h2>Shop</h2></a>

    <form action="{{ url_for('submit_coupon') }}" method="post">
        <h2 for="coupon">Redeem Coupon:</h2>
        <input type="text" id="coupon" name="coupon" required>
        <button type="submit">Redeem</button>
    </form>
    
    <h2>Leave Feedback:</h2>
    <form action="{{ url_for('feedback') }}" method="post">
        <label for="feedback">Your Feedback:</label>
        <textarea id="feedback" name="feedback" rows="4" cols="50" required></textarea>
        <button type="submit">Submit Feedback</button>
    </form>


</html>