<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{{ item[1] }}</title>
</head>
<body>
    <h1>{{ item[1] }} </h1>
    
    <div>
        <a href="{{ url_for('cart') }}">
            <i class="fa fa-shopping-cart" style="font-size:24px;"></i>
        </a>
        
        <p>Your balance: ${{ user_balance }}</p>
    </div>

    <p>{{ item[2] }}</p>
    <p>Price: ${{ item[3] }}</p> 
    <form action="{{ url_for('item_description', item_id=item[0]) }}" method="POST">
        <button type="submit">Add to Cart</button>
    </form>
   
    <p><a href="/">Back to Home</a></p>
</body>
</html>