<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Shopping Website</title>
</head>
<body>
    <h1>Shop</h1>

    <div>
        <a href="{{ url_for('cart') }}">
            <i class="fa fa-shopping-cart" style="font-size:24px;"></i>
        </a>
      
        <p>Your balance: ${{ user_balance }}</p>
    </div>


    <h2>Items:</h2>
    <ul>

        {% for item in list_of_items %}
            <li>
                <a href="{{ url_for('item_description', item_id=item[0]) }}">{{ item[1] }}</a>
            </li>
        {% endfor %}
    </ul>
</html>